UNIFI_BASE_URL=https://ui.sdc.nycu.club
UNIFI_API_KEY=
HOST=127.0.0.1
PORT=3000
UNIFI_SITE_ID=
UNIFI_SITE_INTERNAL_REF=default
UNIFI_INSECURE_TLS=true
ENABLE_UNIFI_LEGACY=false
DASHBOARD_POLL_MS=5000
